## Contributors
### Jay Upadhyay
### Haruki Miyazaki
###
###
###

# Libraries

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
import random
import numpy as np
import h5py
import pandas as pd
import seaborn as sns

In [ ]:
df_orig=pd.read_csv("adult.csv")
df_orig.dropna(inplace=True)
df_orig

# 1. Project Proposal

We pulled the data from https://archive-beta.ics.uci.edu/dataset/2/adult .

# 2. Data Collection and data cleaning

## Changing workclass to numeric

In [ ]:
workclass_list = list(sorted(set(df_orig[" workclass"])))

for i,x in enumerate(workclass_list):
    print(i,":", x)
    
df_orig[' workclass'].replace(workclass_list,
                        range(len(workclass_list)), inplace=True)

## Changing Education to Numeric

In [ ]:
df_orig['education'].unique()

In [ ]:
education_list=[ ' Preschool',' 1st-4th',' 5th-6th',' 7th-8th',' 9th',' 10th',' 11th',' 12th',' HS-grad',
                              ' Assoc-voc',' Assoc-acdm',' Some-college',' Bachelors', ' Masters',
                              ' Prof-school' ,' Doctorate']

df_orig['education'].replace(education_list,
                        range(16), inplace=True)

df_orig
for x in range(16):
    print(x,":", education_list[x])

#### Note. I want to come back to this and bin it into appropriate 
I also chose to exclude this for now because I believe education-num already represents it numerically.

## Changing marital status to numeric

In [ ]:
marital_list = list(sorted(set(df_orig["marital-status"])))

for i,x in enumerate(marital_list):
    print(i,":", x)

df_orig['marital-status'].replace(marital_list,
                        range(len(marital_list)), inplace=True)

## Occupation

I don't like the ? mark section.

In [ ]:
occupation_list = list(sorted(set(df_orig["occupation"])))

for i,x in enumerate(occupation_list):
    print(i,":", x)

df_orig['occupation'].replace(occupation_list,
                        range(len(occupation_list)), inplace=True)

## Relationship conversion to numeric

I don't like other relative section here.

In [ ]:
relationship_list = list(sorted(set(df_orig["relationship"])))

for i,x in enumerate(relationship_list):
    print(i,":", x)

df_orig['relationship'].replace(relationship_list,
                        range(len(relationship_list)), inplace=True)

## Race conversion to numeric

In [ ]:
race_list = list(sorted(set(df_orig["race"])))

for i,x in enumerate(race_list):
    print(i,":", x)

df_orig['race'].replace(race_list,
                        range(len(race_list)), inplace=True)

## Sex conversion to numeric

In [ ]:
sex_list = list(sorted(set(df_orig["sex"])))

for i,x in enumerate(sex_list):
    print(i,":", x)

df_orig['sex'].replace(sex_list,
                        range(len(sex_list)), inplace=True)

## Country to Numeric

In [ ]:
# Changing a column "class" to be 0:<=50K and 1:>50K
country_list = list(sorted(set(df_orig["native-country"])))

for i,x in enumerate(country_list):
    print(i,":", x)

df_orig['native-country'].replace(country_list,
                        range(len(country_list)), inplace=True)

## Income to numeric

In [ ]:
# Changing a column "class" to be 0:<=50K and 1:>50K
class_list = list(sorted(set(df_orig["class"])))

for i,x in enumerate(class_list):
    print(i,":", x)
    
df_orig['class'].replace(class_list,
                        range(len(class_list)), inplace=True)

In [ ]:
df_orig

## Correlation Matrix

In [ ]:

df_small = df_orig.iloc[:,[0,1,3,8,9,12,13,14]]
correlation_mat = df_small.corr()
sns.heatmap(correlation_mat, annot = True)
plt.show()

# 3. EDA

## The relationship between people under 50k and upper 50k

In [ ]:
sns.set(font_scale=1.2,rc={"figure.dpi":300})
df_orig['class'].value_counts().plot(kind='bar', figsize=(15, 6), rot=0)
plt.xlabel("Class")
plt.ylabel("Count of People")
plt.title("The number of people who earnes less than 50k (0) and greater than 50k (1)")
plt.show()
print("We can see that there are more male than female in the dataset, which means that there are", round(df_orig['class'].value_counts()[0]\
      /df_orig['class'].value_counts()[1], 2), "times more male than female.")

## Distribution

### Distributed by Age

In [ ]:
df_orig['Age'].value_counts().plot(kind='bar', figsize=(25, 8), rot=10)
plt.xlabel("Age")
plt.ylabel("Count of People")
plt.title("Number of people by age")
plt.show()

In [ ]:
graph = sns.displot(data=df_orig, x="Age", binwidth=1, hue="class")
graph.fig.set_size_inches(20,8)

According to this article: "Retirement age in US rises to 61 (from 57 in the early 90s)" (https://www.today.com/money/retirement-age-us-rises-61-57-early-90s-1c9959555), the retirement age was 60 in 1995 (the dataset is 1994 census data), so we can bin 60+ years-old as retirement age.
We are going to create 10-year-bins later on.

### Distributed by workclass

In [ ]:
df_orig[' workclass'].value_counts().plot(kind='bar', figsize=(12, 5), rot=0)
plt.xlabel("Workclass")
plt.ylabel("Count of People")
plt.title("Number of people by age workclass")
plt.legend(loc='upper right')
plt.show()

In [ ]:
workclass_list

### Distributed by education

In [ ]:
df_orig['education'].value_counts().plot(kind='bar', figsize=(12, 5), rot=0)
plt.xlabel("Education")
plt.ylabel("Count of People")
plt.title("Number of people by education")
plt.show()

### Distributed by marital status

In [ ]:
df_orig['marital-status'].value_counts().plot(kind='bar', figsize=(16, 5), rot=0)
plt.xlabel("Marital Status")
plt.ylabel("Count of People")
plt.title("Number of people by marital status")
plt.show()

### Distributed by occupation

In [ ]:
df_orig['occupation'].value_counts().plot(kind='bar', figsize=(14, 6), rot=0)
plt.xlabel("Occupation")
plt.ylabel("Count of People")
plt.title("Number of people by occupation")
plt.show()

### Distributed by race

In [ ]:
df_orig['race'].value_counts().plot(kind='bar', figsize=(15, 5), rot=0)
plt.xlabel("Race")
plt.ylabel("Count of People")
plt.title("Number of people by race")
plt.show()

### Distributed by sex

In [ ]:
df_orig['sex'].value_counts().plot(kind='bar', figsize=(15, 5), rot=0)
plt.xlabel("Sex")
plt.ylabel("Count of People")
plt.title("Number of people by sex (1: Male, 0: Female)")
plt.show()

# 4. Techniques Used

## KNN First Attempt

In [ ]:
# Splits rows to create a train and test
train,test=train_test_split(df_orig.iloc[:,[4,8,9,14]],test_size=0.33)
#train,test=train_test_split(df_orig.iloc[:,[0,1,4,5,6,7,8,9,12,13,14]],test_size=0.33)
X_train=train.iloc[:,:3] #Take train portion and first columns
Y_train=train.iloc[:,3:].values.ravel() #target we are trying to predict for
X_test=test.iloc[:,:3] #take test portion columns 
Y_test=test.iloc[:,3:].values.ravel()

In [ ]:
knn=KNeighborsClassifier(
    n_neighbors=80, 
    weights='uniform', 
    algorithm='auto', 
    leaf_size=30, 
    p=2, 
    #metric='matching', 
    metric='minkowski', 
    metric_params=None, 
    n_jobs=None)

In [ ]:
knn.fit(X_train,Y_train)

In [ ]:
pred_test=knn.predict(X_test)
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(Y_test, pred_test))
print("Precision:",metrics.precision_score(Y_test, pred_test))

In [ ]:
display = metrics.PrecisionRecallDisplay.from_predictions(Y_test, pred_test, name="kNN")
display.ax_.set_title("2-class Precision-Recall curve")

In [ ]:
precision, recall, thresholds = metrics.precision_recall_curve(Y_test,pred_test)
precision

In [ ]:
metrics.roc_curve(Y_test,pred_test)

## Second Attempt Random Forest

In [ ]:
# Splits rows to create a train and test
train,test=train_test_split(df_orig.iloc[:,[0,1,3,5,6,7,8,9,12,13,14]],test_size=0.33)
X_train=train.iloc[:,:10] #Take train portion and first columns
Y_train=train.iloc[:,10:].values.ravel() #target we are trying to predict for
X_test=test.iloc[:,0:10] #take test portion columns 
Y_test=test.iloc[:,10:].values.ravel()

In [ ]:
rf = RandomForestClassifier(n_estimators=100,
                            # criterion='gini', 
                            max_depth=None, 
                            # min_samples_split=2, 
                            # min_samples_leaf=1, 
                            # min_weight_fraction_leaf=0.0,
                            # max_features='sqrt',
                            # max_leaf_nodes=None, 
                            # min_impurity_decrease=0.0, 
                            # bootstrap=True, 
                            # oob_score=False, 
                            # n_jobs=None, 
                            # random_state=None, 
                            # verbose=0,
                            # warm_start=False, 
                            # class_weight=None,
                            # ccp_alpha=0.0, 
                            # max_samples=None
                            )
rf.fit(X_train,Y_train)

In [ ]:
pred_test=rf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(Y_test, pred_test))
print("Precision:",metrics.precision_score(Y_test, pred_test))

# 5. Data Processing Part 2

# 6. Project Proposal