## Contributors
### Jay Upadhyay
### 
###
###
###

# Libraries

In [125]:
# from tensorflow import keras
# from keras import utils
# from keras.models import Sequential
# from keras.layers import Conv2D, Dense, MaxPooling2D, Flatten
# from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import random
import numpy as np
import h5py
import pandas as pd
import seaborn as sns

In [126]:
df_orig=pd.read_csv("adult.csv")
df_orig.dropna(inplace=True)
df_orig

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# 1. Project Proposal

We pulled the data from https://archive-beta.ics.uci.edu/dataset/2/adult .

# 2. Data Collection and data cleaning

## Changing workclass to numeric

In [127]:
df_orig[" workclass"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [128]:
df_orig[" workclass"].replace([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'],
                        range(0,9), inplace=True)

## Changing Education to Numeric

In [129]:
df_orig.education.unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

#### Note. I want to come back to this and bin it into appropriate 
I also chose to exclude this for now because I believe education-num already represents it numerically.

In [130]:
# df_orig['education'].replace([ ' Preschool',' 1st-4th',' 5th-6th',' 7th-8th',' 9th',' 10th',' 11th',' 12th',' HS-grad',
#                               ' Assoc-voc',' Assoc-acdm','Some-college',' Bachelors', ' Masters',
#                               ' Prof-school' ,' Doctorate'],
#                         [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16], inplace=True)

In [3]:
# Changing a column "class" to be 0:<=50K and 1:>50K
class_list = list(sorted(set(df_orig["class"])))

for i,x in enumerate(class_list):
    print(i,":", x)
    
df_orig['class'].replace(class_list,
                        range(len(class_list)), inplace=True)

0 :  <=50K
1 :  >50K

In [4]:
# Changing a column "class" to be 0:<=50K and 1:>50K
country_list = list(sorted(set(df_orig["native-country\t"])))

for i,x in enumerate(country_list):
    print(i,":", x)

df_orig['native-country\t'].replace(country_list,
                        range(len(country_list)), inplace=True)

0 :  ?
1 :  Cambodia
2 :  Canada
3 :  China
4 :  Columbia
5 :  Cuba
6 :  Dominican-Republic
7 :  Ecuador
8 :  El-Salvador
9 :  England
10 :  France
11 :  Germany
12 :  Greece
13 :  Guatemala
14 :  Haiti
15 :  Holand-Netherlands
16 :  Honduras
17 :  Hong
18 :  Hungary
19 :  India
20 :  Iran
21 :  Ireland
22 :  Italy
23 :  Jamaica
24 :  Japan
25 :  Laos
26 :  Mexico
27 :  Nicaragua
28 :  Outlying-US(Guam-USVI-etc)
29 :  Peru
30 :  Philippines
31 :  Poland
32 :  Portugal
33 :  Puerto-Rico
34 :  Scotland
35 :  South
36 :  Taiwan
37 :  Thailand
38 :  Trinadad&Tobago
39 :  United-States
40 :  Vietnam
41 :  Yugoslavia

In [7]:
df_orig

         education    race      sex  native-country\t  class
0        Bachelors   White     Male                39      0
1        Bachelors   White     Male                39      0
2          HS-grad   White     Male                39      0
3             11th   Black     Male                39      0
4        Bachelors   Black   Female                 5      0
...            ...     ...      ...               ...    ...
32556   Assoc-acdm   White   Female                39      0
32557      HS-grad   White     Male                39      1
32558      HS-grad   White   Female                39      0
32559      HS-grad   White     Male                39      0
32560      HS-grad   White   Female                39      1

[32561 rows x 5 columns]

## Changing marital status to numeric

In [ ]:
df_orig["marital-status"].unique()

In [133]:
df_orig["marital-status"].replace([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'],range(1,8), inplace=True)
df_orig

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,0,77516,Bachelors,13,1,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,1,83311,Bachelors,13,2,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,2,215646,HS-grad,9,3,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,2,234721,11th,7,2,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,2,338409,Bachelors,13,2,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,Assoc-acdm,12,2,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,2,154374,HS-grad,9,2,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,2,151910,HS-grad,9,7,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,2,201490,HS-grad,9,1,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,6,287927,HS-grad,9,2,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Occupation

I don't like the ? mark section.

In [134]:
df_orig["occupation"].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [135]:
df_orig["occupation"].replace([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'],range(0,15), inplace=True)
df_orig

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,0,77516,Bachelors,13,1,0,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,1,83311,Bachelors,13,2,1,Husband,White,Male,0,0,13,United-States,<=50K
2,38,2,215646,HS-grad,9,3,2,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,2,234721,11th,7,2,2,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,2,338409,Bachelors,13,2,3,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,Assoc-acdm,12,2,10,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,2,154374,HS-grad,9,2,9,Husband,White,Male,0,0,40,United-States,>50K
32558,58,2,151910,HS-grad,9,7,0,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,2,201490,HS-grad,9,1,0,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,6,287927,HS-grad,9,2,1,Wife,White,Female,15024,0,40,United-States,>50K

## Relationship conversion to numeric

I don't like other relative section here.

In [136]:
df_orig["relationship"].unique()

array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

In [137]:
df_orig["relationship"].replace([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'],range(0,6), inplace=True)
df_orig

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,0,77516,Bachelors,13,1,0,0,White,Male,2174,0,40,United-States,<=50K
1,50,1,83311,Bachelors,13,2,1,1,White,Male,0,0,13,United-States,<=50K
2,38,2,215646,HS-grad,9,3,2,0,White,Male,0,0,40,United-States,<=50K
3,53,2,234721,11th,7,2,2,1,Black,Male,0,0,40,United-States,<=50K
4,28,2,338409,Bachelors,13,2,3,2,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,Assoc-acdm,12,2,10,2,White,Female,0,0,38,United-States,<=50K
32557,40,2,154374,HS-grad,9,2,9,1,White,Male,0,0,40,United-States,>50K
32558,58,2,151910,HS-grad,9,7,0,4,White,Female,0,0,40,United-States,<=50K
32559,22,2,201490,HS-grad,9,1,0,3,White,Male,0,0,20,United-States,<=50K
32560,52,6,287927,HS-grad,9,2,1,2,White,Female,15024,0,40,United-States,>50K

## Race conversion to numeric

In [138]:
df_orig["race"].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [139]:
df_orig["race"].replace([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'],range(0,5), inplace=True)
df_orig

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,0,77516,Bachelors,13,1,0,0,0,Male,2174,0,40,United-States,<=50K
1,50,1,83311,Bachelors,13,2,1,1,0,Male,0,0,13,United-States,<=50K
2,38,2,215646,HS-grad,9,3,2,0,0,Male,0,0,40,United-States,<=50K
3,53,2,234721,11th,7,2,2,1,1,Male,0,0,40,United-States,<=50K
4,28,2,338409,Bachelors,13,2,3,2,1,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,Assoc-acdm,12,2,10,2,0,Female,0,0,38,United-States,<=50K
32557,40,2,154374,HS-grad,9,2,9,1,0,Male,0,0,40,United-States,>50K
32558,58,2,151910,HS-grad,9,7,0,4,0,Female,0,0,40,United-States,<=50K
32559,22,2,201490,HS-grad,9,1,0,3,0,Male,0,0,20,United-States,<=50K
32560,52,6,287927,HS-grad,9,2,1,2,0,Female,15024,0,40,United-States,>50K

## Sex conversion to numeric

In [140]:
df_orig["sex"].unique()

array([' Male', ' Female'], dtype=object)

In [141]:
df_orig["sex"].replace([' Male', ' Female'],range(0,2), inplace=True)
df_orig

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,0,77516,Bachelors,13,1,0,0,0,0,2174,0,40,United-States,<=50K
1,50,1,83311,Bachelors,13,2,1,1,0,0,0,0,13,United-States,<=50K
2,38,2,215646,HS-grad,9,3,2,0,0,0,0,0,40,United-States,<=50K
3,53,2,234721,11th,7,2,2,1,1,0,0,0,40,United-States,<=50K
4,28,2,338409,Bachelors,13,2,3,2,1,1,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,Assoc-acdm,12,2,10,2,0,1,0,0,38,United-States,<=50K
32557,40,2,154374,HS-grad,9,2,9,1,0,0,0,0,40,United-States,>50K
32558,58,2,151910,HS-grad,9,7,0,4,0,1,0,0,40,United-States,<=50K
32559,22,2,201490,HS-grad,9,1,0,3,0,0,0,0,20,United-States,<=50K
32560,52,6,287927,HS-grad,9,2,1,2,0,1,15024,0,40,United-States,>50K

## Correlation Matrix

In [142]:
# df_orig.iloc[:,[3,8,9,13,14]]
# df_small = df_orig.iloc[:,[8,9,13,14]]
# correlation_mat = df_small.corr()
# sns.heatmap(correlation_mat, annot = True)
# plt.show()

# 3. EDA

# 4. Techniques Used

# 5. Project Proposal