## Contributors
### Jay Upadhyay
### Haruki Miyazaki
### Victor Sandoval Vargas
###
###

# Libraries

In [ ]:
# from tensorflow import keras
# from keras import utils
# from keras.models import Sequential
# from keras.layers import Conv2D, Dense, MaxPooling2D, Flatten
# from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import random
import numpy as np
import h5py
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [ ]:
df_orig=pd.read_csv("adult.csv")
df_orig.dropna(inplace=True)
df_orig

# 1. Project Proposal

We pulled the data from https://archive-beta.ics.uci.edu/dataset/2/adult .

# 2. Data Collection and data cleaning

## Changing workclass to numeric

In [ ]:
workclass_list = list(sorted(set(df_orig[" workclass"])))

for i,x in enumerate(workclass_list):
    print(i,":", x)
    
df_orig[' workclass'].replace(workclass_list,
                        range(len(workclass_list)), inplace=True)

## Changing Education to Numeric

In [ ]:
education_list = list(sorted(set(df_orig["education"])))

for i,x in enumerate(education_list):
    print(i,":", x)
    
df_orig['education'].replace(education_list,
                        range(len(education_list)), inplace=True)

#### Note. I want to come back to this and bin it into appropriate 
I also chose to exclude this for now because I believe education-num already represents it numerically.

## Changing marital status to numeric

In [ ]:
marital_list = list(sorted(set(df_orig["marital-status"])))

for i,x in enumerate(marital_list):
    print(i,":", x)

df_orig['marital-status'].replace(marital_list,
                        range(len(marital_list)), inplace=True)

## Occupation

I don't like the ? mark section.

In [ ]:
occupation_list = list(sorted(set(df_orig["occupation"])))

for i,x in enumerate(occupation_list):
    print(i,":", x)

df_orig['occupation'].replace(occupation_list,
                        range(len(occupation_list)), inplace=True)

## Relationship conversion to numeric

I don't like other relative section here.

In [ ]:
relationship_list = list(sorted(set(df_orig["relationship"])))

for i,x in enumerate(relationship_list):
    print(i,":", x)

df_orig['relationship'].replace(relationship_list,
                        range(len(relationship_list)), inplace=True)

## Race conversion to numeric

In [ ]:
race_list = list(sorted(set(df_orig["race"])))

for i,x in enumerate(race_list):
    print(i,":", x)

df_orig['race'].replace(race_list,
                        range(len(race_list)), inplace=True)

## Sex conversion to numeric

In [ ]:
sex_list = list(sorted(set(df_orig["sex"])))

for i,x in enumerate(sex_list):
    print(i,":", x)

df_orig['sex'].replace(sex_list,
                        range(len(sex_list)), inplace=True)

## Country to Numeric

In [ ]:
# Changing a column "class" to be 0:<=50K and 1:>50K
country_list = list(sorted(set(df_orig["native-country"])))

for i,x in enumerate(country_list):
    print(i,":", x)

df_orig['native-country'].replace(country_list,
                        range(len(country_list)), inplace=True)

## Income to numeric

In [ ]:
# Changing a column "class" to be 0:<=50K and 1:>50K
class_list = list(sorted(set(df_orig["class"])))

for i,x in enumerate(class_list):
    print(i,":", x)
    
df_orig['class'].replace(class_list,
                        range(len(class_list)), inplace=True)

In [ ]:
df_orig

## Linear Regression

In [ ]:
df_orig.head()

In [ ]:
df_orig['education'].replace([ ' Preschool',' 1st-4th',' 5th-6th',' 7th-8th',' 9th',' 10th',' 11th',' 12th',' HS-grad',
                               ' Assoc-voc',' Assoc-acdm','Some-college',' Bachelors', ' Masters',
                               ' Prof-school' ,' Doctorate'],
                         range(0,16), inplace=True)

In [ ]:
df_orig.head()

In [ ]:
X_Gender = df_orig[["sex"]]
Y_Income = df_orig["class"]

GenderIncome_model = LinearRegression()
GenderIncome_model.fit(X=X_Gender, y=Y_Income)

In [ ]:
'''
X_GenderIncome = pd.DataFrame(df_orig)
X_GenderIncome["sex"] = np.linspace(0,1,num=32561)
y_GenderIncome = pd.Series(
    GenderIncome_model.predict(X_GenderIncome),
    index = X_GenderIncome["sex"]
)
'''

In [ ]:
FemaleIncome = GenderIncome_model.predict( X=[[0]] )[0]
MaleIncome = GenderIncome_model.predict( X=[[1]])[0]
condition = ""
if MaleIncome > FemaleIncome:
    condition = "greater"
else:
    condition = "less"

print("Male Income (", MaleIncome ,") is " + condition + " than Female Income (", FemaleIncome, ")")

Looking solely on gender we can see that it is more likely for a man to have an income of >50k compared to that of a woman. We will now examine if this holds true when women has higher education compared to the male.

In [ ]:
X_Gender = df_orig[["sex", "education"]]
GenderIncome_model.fit(X=X_Gender, y=Y_Income)

FemaleIncome = GenderIncome_model.predict( X=[[0,15]] )[0] # Female with Doctorate
MaleIncome = GenderIncome_model.predict( X=[[1,8]])[0] # Male with only HS education
condition = ""
if MaleIncome > FemaleIncome:
    condition = "greater"
else:
    condition = "less"

print("Male Income (", MaleIncome ,") is " + condition + " than Female Income (", FemaleIncome, ")")

From the above linear regression, we can see that a female who has a doctorate is predicted to earn less than a Male who is a High School graduate without any other form of higher education.

## Correlation Matrix

In [ ]:

df_small = df_orig.iloc[:,[0,1,3,8,9,12,13,14]]
correlation_mat = df_small.corr()
sns.heatmap(correlation_mat, annot = True)
plt.show()

# 3. EDA

# 4. Techniques Used

# 5. Project Proposal