## Contributors
### Jay Upadhyay
### 
###
###
###

# Libraries

In [18]:
from tensorflow import keras
from keras import utils
from keras.models import Sequential
from keras.layers import Conv2D, Dense, MaxPooling2D, Flatten
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import random
import numpy as np
import h5py
import pandas as pd
import seaborn as sns

In [19]:
df_orig=pd.read_csv("adult.csv")
df_orig.dropna(inplace=True)
df_orig
df_orig

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week\t,native-country\t,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [20]:
df_orig.iloc[:,[3,8,9,13,14]]

         education    race      sex native-country\t   class
0        Bachelors   White     Male    United-States   <=50K
1        Bachelors   White     Male    United-States   <=50K
2          HS-grad   White     Male    United-States   <=50K
3             11th   Black     Male    United-States   <=50K
4        Bachelors   Black   Female             Cuba   <=50K
...            ...     ...      ...              ...     ...
32556   Assoc-acdm   White   Female    United-States   <=50K
32557      HS-grad   White     Male    United-States    >50K
32558      HS-grad   White   Female    United-States   <=50K
32559      HS-grad   White     Male    United-States   <=50K
32560      HS-grad   White   Female    United-States    >50K

[32561 rows x 5 columns]

# 1. Project Proposal

We pulled the data from https://archive-beta.ics.uci.edu/dataset/2/adult .

## Correlation Matrix

In [21]:
df_small = df_orig.iloc[:,[8,9,13,14]]
correlation_mat = df_small.corr()
sns.heatmap(correlation_mat, annot = True)
plt.show()

/var/folders/f7/6q2gs3hx31j0br5ckpz40k940000gn/T/com.apple.shortcuts.mac-helper/ipykernel_26710/4232639405.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_mat = df_small.corr()

ValueError: zero-size array to reduction operation fmin which has no identity

# 2. Data Collection and data cleaning

# 3. EDA

# 4. Techniques Used

# 5. Project Proposal